body{
    background-color: rgb(255, 0, 204);
}

p{
    color: rgb(183, 255, 0);
    font-size: 50px;
    border: 10px dotted blue;
    text-align: center;
    text-decoration: underline;
    font-size: 6em;
}